@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=PT+Serif&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=PT+Serif&family=Poppins:wght@600&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=PT+Serif&family=Poppins:wght@200;600&family=Space+Mono:wght@700&display=swap');
img {
  width: 15rem;
  padding: 0%;
  margin: 0%;
}
.container {
  padding: 5rem;
  margin: 0 4rem;
}
.grid-0 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: flex-start;
}
.grid-0 .para {
  padding-right: 5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 27px;
}
.grid-0 .head {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.grid-0 h3 {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
}
.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  grid-gap: 3rem;
  padding: 0rem 5rem;
  margin: 0 4rem;
}
.grid-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  height: 500px;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  height: 500px;
}
.img-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.img-grid p {
  transform: rotate(90deg);
  font-family: 'PT Serif', serif;

  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 10px 0;
}
.member-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
